    /**
 * defaults
 */
    
    html,
    body {
        min-height: 100%;
        height: 100%;
        margin: 0;
    }

    .wrapper {
        min-width: 320px;   
        display: table;
        table-layout: fixed;
        width: 100%;    
        min-height: 100%;   
        overflow: hidden;
    }

    .footer-wr {
        display: table-footer-group;
        width: 100%;    
    }

    .footer-logo {
        font-size: 35px;
    }
    
    body {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    .container-fluid {
        position: relative;
        max-width: 1170px;
        margin: 0 auto;
    }

    a[href^='tel'],
    a[href^='mailto'] {
        &:hover {
            text-decoration: none;
        }
    }

    .back-to-top {
        position: fixed;
        bottom: 100px;
        right: 30px;
        width: 30px;
        height: 30px;
        font-size: 13px;    
        background-color: #f18052;
        opacity: 0.7;
        z-index: 100;
        @include transition(opacity 0.3s);
        cursor: pointer;
        &:hover {
            opacity: 1; 
        }
        i {
            color: #fff;
            position: absolute; 
            top: 50%;   
            left: 50%;  
            @include translate(-50%, -50%);
        }
    }
    #logo {
        padding: 30px 0;
    }
    .standard-logo {
        display: inline-block;
        line-height: 30px;
        &:hover {
            text-decoration: none;
            color: #f18052;
        }
    }
    .logo-text {
        font-size: 15px;
        line-height: 19px;
        display: block;
    }
    
    // Top Bar 
    .top {
        &-bar {
            position: relative;
            border-bottom: 1px solid #EEE;
            height: 45px;
            line-height: 44px;
            font-size: 13px;
        }
        &-social {
            float: left;
            margin: 0;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                    float: left;
                    border-left: 1px solid #eee;
                    position: relative;
                    overflow: hidden;
                    height: 45px;
                    line-height: 44px;
                    &:first-child {
                        border-left: 0!important;
                    }
                }
                a {
                    width: 40px;
                    display: block;
                    position: relative;
                    overflow: hidden;
                    height: 45px;
                    line-height: 44px;
                    font-weight: 700;
                    color: #666;
                    text-align: center;
                    @include transition(color .3s ease-in-out, background-color .3s ease-in-out, width .3s ease-in-out);
                    &:hover {
                        width: 120px;
                        text-decoration: none;
                        color: #fff;
                    }
                    &.si-facebook:hover {
                        background-color: #3B5998;
                    }
                    &.si-twitter:hover {
                        background-color: #00ACEE;
                    }
                    &.si-dribbble:hover {
                        background-color: #EA4C89;
                    }
                    &.si-github:hover {
                        background-color: #171515;
                    }
                    &.si-pinterest:hover {
                        background-color: #C8232C;
                    }
                    &.si-instagram:hover {
                        background-color: #3F729B;
                    }
                }
            }
        }
        &-links {
            float: right;
            margin-top: -1px;
            @media screen and (max-width: 600px) {
                float: none;
                margin-top: 0;
                padding-bottom: 20px;
            }
        }
    }
    
    .ts-icon {
        width: 40px;
        text-align: center;
        font-size: 14px;
        margin-right: 10px;
    }

    .banner {
        position: relative;
        min-height: 700px;
        /* background-image: url('../assets/images/banner-3.jpg'); */
        background-size: cover;
    }
    
    // header
    /* #header.sticky-style-2 {
        height: 161px;
    } */

    .btn-lg {
        font-size: 20px;
        padding: 20px 40px;
        @media screen and (max-width: 600px) {
            font-size: 18px;
            padding: 15px 15px;
        }
    }
    .btn-wr {
        padding: 30px 0;
    }

    .btn:focus,
    .btn:active {
        outline: none;
        box-shadow: none;
    }

    .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.btn-success.dropdown-toggle.focus, .open>.btn-success.dropdown-toggle:focus, .open>.btn-success.dropdown-toggle:hover {
        background-color: rgba(51,51,51,.8);
        border: 1px solid #333;
    }
    
    #header {
        background-color: #F9F9F9;
    }
    
    #logo {
        float: left;
        font-size: 36px;
        line-height: 100%;
        margin-right: 40px;
        @media screen and (max-width: 600px) {
            display: block;
            float: none;
            margin: 0 auto!important;
            max-width: none;
            text-align: center;
            border: 0!important;
            padding: 20px 0!important; 
        }
    }
    
    .header-extras li .he-text {
        padding-left: 15px;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #888;
        text-transform: uppercase;
        letter-spacing: 1px;
        float: left;
        margin-top: 4px;
        span {
            display: block;
            font-weight: 600;
        }
    }
    
    a,
    h1 > span:not(.nocolor),
    h2 > span:not(.nocolor),
    h3 > span:not(.nocolor),
    h4 > span:not(.nocolor),
    h5 > span:not(.nocolor),
    h6 > span:not(.nocolor),
    .header-extras li .he-text span,
    #primary-menu ul li:hover > a,
    #primary-menu ul li.current > a,
    #primary-menu div ul li:hover > a,
    #primary-menu div ul li.current > a,
    #primary-menu ul ul li:hover > a,
    #primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a:hover,
    #top-cart a:hover,
    .top-cart-action span.top-checkout-price,
    .breadcrumb a:hover,
    .portfolio-filter li a:hover,
    .portfolio-desc h3 a:hover,
    .portfolio-overlay a:hover,
    #portfolio-navigation a:hover,
    .entry-title h2 a:hover,
    .entry-meta li a:hover,
    .post-timeline .entry:hover .entry-timeline,
    .post-timeline .entry:hover .timeline-divider,
    .ipost .entry-title h3 a:hover,
    .ipost .entry-title h4 a:hover,
    .spost .entry-title h4 a:hover,
    .mpost .entry-title h4 a:hover,
    .comment-content .comment-author a:hover,
    .product-title h3 a:hover,
    .single-product .product-title h2 a:hover,
    .product-price ins,
    .single-product .product-price,
    .feature-box.fbox-border .fbox-icon i,
    .feature-box.fbox-border .fbox-icon img,
    .feature-box.fbox-plain .fbox-icon i,
    .feature-box.fbox-plain .fbox-icon img,
    .process-steps li.active h5,
    .process-steps li.ui-tabs-active h5,
    .team-title span,
    .pricing-box.best-price .pricing-price,
    .btn-link,
    .pagination > li > a,
    .pagination > li > span,
    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination > li > a:focus,
    .pagination > li > span:focus,
    .dark .post-timeline .entry:hover .entry-timeline,
    .dark .post-timeline .entry:hover .timeline-divider {
        color: #F18052;
    }
    
    #page-submenu-trigger,
    #primary-menu-trigger {
        opacity: 0;
        pointer-events: none;
        cursor: pointer;
        font-size: 14px;
        position: absolute;
        top: 50%;
        margin-top: -25px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        -webkit-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        transition: opacity .3s ease;
        @media screen and (max-width: $screen-sm-max) {
            opacity: 1;
            pointer-events: auto;
            top: 25px;
            margin-top: 0;
            left: 0;
            z-index: 1;
            -webkit-transition: opacity .2s .2s ease, top .4s ease;
            -o-transition: opacity .2s .2s ease, top .4s ease;
            transition: opacity .2s .2s ease, top .4s ease;
            top: 5px;
            left: 0;
        }
    }
    
    .header-extras {
        float: right;
        padding: 41px 0;
        margin-bottom: 0;
        @media screen and (max-width: 600px) {
            float: none;
            text-align: center;
            padding: 0;
        }
        
    }
    .interface {
        padding: 40px 0;
        @media screen and (max-width: $screen-xs-max) {
            padding: 20px 0;
        }
        img {
            width: 100%;
        }
    }
    .header-extras li {
        margin-left: 30px;
        padding-left: 30px;
        border-left: 1px solid #EEE;
        float: left;
        margin-left: 20px;
        height: 40px;
        overflow: hidden;
        list-style: none;
        &:first-child {
            margin-left: 0;
            padding-left: 0;
            border-left: 0;
        }
        i {
            float: left;
            font-size: 36px;
        }
    }
    
    #header.sticky-style-2 #header-wrap {
        height: 60px;
    }
    
    #header-wrap {
        background-color: #FFF;
        &.affix {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 100;
            @media screen and (max-width: $screen-sm-max) {
                position: static;
            }
        }
    }
    
    #header-wrap {
        position: relative;
        z-index: 199;
    }
    
    #primary-menu.style-2 {
        float: none;
        max-width: none;
        border-top: 1px solid #F5F5F5;
    }
    
    #primary-menu ul {
        padding: 0;
        float: left;
        margin-bottom: 0;
        @media screen and (max-width: $screen-sm-max) {
            display: none;
            padding-top: 40px;
            &.open {
                display: block;
            }
        }
    }
    
    #primary-menu ul>li {
        float: left;
        margin-left: 2px;
        list-style-type: none;
        @media screen and (max-width: $screen-sm-max) {
            float: none;
            display: block;
        }
    }
    
    #primary-menu.style-2>div>ul>li>a {
        padding-top: 19px;
        padding-bottom: 19px;
        @media screen and (max-width: $screen-sm-max) {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    
    #primary-menu ul li ul {
        padding-top: 0;
    }
    
    #primary-menu ul li ul li {
        float: none;
    }
    
    #primary-menu ul li>a {
        display: block;
        line-height: 22px;
        padding: 10px 15px;
        color: #444;
        font-weight: 700;
        font-size: 13px;
        letter-spacing: 1px;
        text-transform: uppercase;
        -webkit-transition: color .4s ease;
        -o-transition: color .4s ease;
        transition: color .4s ease;
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    
    #primary-menu ul ul li > a {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0;
        -webkit-transition: margin .4s ease, padding .4s ease, color .4s ease;
        -o-transition: margin .4s ease, padding .4s ease, color .4s ease;
        transition: margin .4s ease, padding .4s ease, color .4s ease;
        &:hover,
        &:focus {
            text-decoration: none;
            padding: 10px 15px 10px 20px;
        }
    }
    
    .dropdown-menu {
        border: none;
        border-radius: 0;
        margin-top: 0;
        border-top: 2px solid #F18052;
        min-width: 220px;
        @media screen and (max-width: $screen-sm-max) {
            position: static;
            box-shadow: none;
        }
    }
    
    #primary-menu.style-2>div #side-panel-trigger,
    #primary-menu.style-2>div #top-cart,
    #primary-menu.style-2>div #top-search {
        margin-top: 22px;
        margin-bottom: 20px;
    }
    
    #top-cart,
    #top-search {
        -webkit-transition: margin .4s ease, opacity .3s ease;
        -o-transition: margin .4s ease, opacity .3s ease;
        transition: margin .4s ease, opacity .3s ease;
    }
    
    #side-panel-trigger,
    #top-account,
    #top-cart,
    #top-search {
        float: right;
        margin: 40px 0 40px 15px;
        @media screen and (max-width: $screen-sm-max) {
            margin-right: 20px;
        }
    }
    
    #top-search form {
        opacity: 0;
        z-index: -2;
        position: absolute;
        width: 100%!important;
        height: 100%!important;
        padding: 0 15px;
        margin: 0;
        top: 0;
        left: 0;
        -webkit-transition: opacity .3s ease-in-out;
        -o-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
        &.open {
            z-index: 10;
            opacity: 1;
        }
    }
    
    #top-search form input {
        border-radius: 0;
        border: 0;
        font-size: 32px;
        padding: 10px 80px 10px 0;
        height: 100%;
        background-color: transparent;
        color: #333;
        font-weight: 700;
        margin-top: 0!important;
        font-family: Raleway, sans-serif;
        letter-spacing: 2px;
        border: none;
        @media screen and (max-width: $screen-sm-max) {
            font-size: 16px;
        }
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    
    #top-search a {
        z-index: 11;
    }
    
    #side-panel-trigger a,
    #top-account a,
    #top-cart a,
    #top-search a {
        display: block;
        position: relative;
        width: 14px;
        height: 14px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #333;
        -webkit-transition: color .3s ease-in-out;
        -o-transition: color .3s ease-in-out;
        transition: color .3s ease-in-out;
    }
    
    #top-search a i {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        transition: opacity .3s ease;
    }
    
    .container-menu {
        position: relative;
        max-width: 850px;
        margin: 0 auto;
    }
    
    .promo-full {
        border-left: 0;
        border-right: 0;
        padding: 20px 0;
        background-color: #f5f5f5;
        @media screen and (max-width: $screen-xs-max) {
            text-align: center;
        }
        &--orange {
            background-color: #F18052;
            color: #fff;
            margin-bottom: 50px;
            padding-bottom: 20px;
            opacity: 1;
            
            h3 {
                font-size: 35px;
                line-height: 40px;
            }
        }
        h2 {
            float: left;
            max-width: 70%;
        }
        .btn {
            float: right;
        }
        
    }
    
    .why {
        padding: 50px 20px 0;
        @media screen and (max-width: $screen-xs-max) {
            padding: 20px;
        }
    }

    
    .slider-caption {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 2px;
        left: -25px;
        padding: 20px;
        max-width: 450px;
        position: absolute;
        top: 150px;
        left: 20%;
        z-index: 20;
        max-width: 600px;
        
        font-size: 22px;
        font-weight: 300;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
        -webkit-transition: top .3s ease;
        -o-transition: top .3s ease;
        transition: top .3s ease;
        p {
            font-weight: 600;   
        }
        span {
            display: block; 
            margin-bottom: 20px; 
            font-size: 18px;      
        }
        @media screen and (max-width: $screen-xs-max) {
            width: 80%;
            left: 20px;
        }
        @media screen and (max-width: 600px) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .modal-header {
        background-color: #f18052;
        color: #fff;
        border-radius: 5px 5px 0 0;
    }

    .modal-body {
        padding: 25px 20px; 
    }

    .modal-dialog {
        position: absolute; 
        top: 50%;   
        left: 50%;  
        margin: 0;  
        transform: translate(-50%, -50%)!important;
    }
    
    .counter {
        font-size: 42px;
        font-weight: 600;
        color: #D2D2D2;
        h5 {
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-top: 10px;
            font-size: 14px;
        }
    }
    
    .numbers {
        padding: 40px 0;
    }
    
    // about 
    .about {
        position: relative;
        color: #fff;
        min-height: 500px;
        background-attachment: fixed;
        overflow: hidden;
        padding: 40px 5%;
        background-color: rgba(0, 0, 0, 0.6);
        @media screen and (max-width: $screen-xs-max) {
            padding: 20px;
        }
        &-item {
            @media screen and (max-width: 600px) {
                margin-bottom: 30px;
            }
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            /* background: rgba(241, 128, 82, 0.9); */
            z-index: 1;
        }
        &-wrapper {
            font-size: 20px;
            /* position: absolute;
            top: 50%;
            left: 50%;
            @include translate(-50%, -50%);
            z-index: 2;
            @media screen and (max-width: $screen-xs-max) {
                position: relative;
                left: auto;
                top: auto;
                @include translate(0, 0);
            } */
        }
        span {
            display: block;
            margin-bottom: 30px;
        }
        svg {
            display: inline-block;
            vertical-align: middle;
            width: 200px;
            height: 200px;
            @media screen and (max-width: 600px) {
                width: 100px;
                height: 100px;
            }
        }
    }
    
    #slide-text {
        .swiper-button-white {
            display: none;
        }
        .swiper-pagination-white .swiper-pagination-bullet {
            background-color: rgba(241, 128, 82, 1);
        }
    }
    
    .nopadding {
        padding: 0!important;
    }
    
    .nobg {
        background: 0 0!important;
    }
    
    .topmargin-sm {
        margin-top: 30px!important;
        @media screen and (max-width: 600px) {
            margin-top: 0 !important;
        }
    }
    
    .heading-block {
        margin-bottom: 50px;
    }
    
    .nobottomborder {
        border-bottom: none!important;
    }
    
    // features
    
    .features {
        @media screen and (max-width: $screen-xs-max) {
            padding-bottom: 40px;
        }
    }

    .feature-box {
        position: relative;
        margin-top: 20px;
        padding: 0 0 0 80px;
    }
    
    .feature-box:first-child {
        margin-top: 0;
    }
    
    .feature-box .fbox-icon {
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        top: 0;
        left: 0;
    }
    
    .feature-box .fbox-icon a,
    .feature-box .fbox-icon i,
    .feature-box .fbox-icon img {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        color: #FFF;
    }
    
    .feature-box.fbox-plain .fbox-icon i,
    .feature-box.fbox-plain .fbox-icon img {
        border: none!important;
        background-color: transparent!important;
        color: #1ABC9C;
        border-radius: 0;
    }
    
    .feature-box.fbox-plain .fbox-icon img {
        height: 64px;
    }
    
    .feature-box h3 {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 0;
        color: #333;
        text-transform: uppercase;
    }
    
    #content p {
        line-height: 1.8;
    }
    
    .feature-box p {
        margin: 8px 0 0;
        color: #999;
    }
    
    .bottommargin {
        margin-bottom: 50px;
        @media screen and (max-width: $screen-xs-max) {
            margin-bottom: 20px;
        }
    }
    
    .portfolio-item {
        float: left;
        position: relative;
        width: 25%;
        height: auto;
        padding: 0 0 12px;
        @media screen and (max-width: $screen-sm-max) {
            width: 50%;
        }
        @media screen and (max-width: $screen-xs-max) {
            width: 100%;
            float: none;
        }
    }
    
    .section {
        position: relative;
        margin: 60px 0;
        padding: 60px 0;
        background-color: #F9F9F9;
        overflow: hidden;
        @media screen and (max-width: $screen-sm-max) {
            margin: 20px 0;
            padding: 20px 0;
        }
        @media screen and (max-width: $screen-xs-max) {
            margin: 0;
        }
    }
    
    .nobottommargin {
        margin-bottom: 0!important;
    }
    
    // accordion 
    .panel-default {
        border-top: none;
        >.panel-heading {
            position: relative;
            border-color: transparent;
            background-color: #f18052;
            border-radius: 0;
            @media screen and (max-width: $screen-xs-max) {
                padding-right: 30px;
            }
            a {
                color: #fff;
                display: block;
                i {
                    float: right;  
                    @media screen and (max-width: $screen-xs-max) {
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        @include translate(0, -50%);
                    } 
                }
                &:hover,
                &:focus {
                    text-decoration: none;
                }
                &[aria-expanded='false'] {
                    .fa-minus {
                        display: none;  
                    }
                    .fa-plus {
                        display: block;
                    }
                }
                &[aria-expanded='true'] {
                    .fa-plus {
                        display: none;
                    }
                    .fa-minus {
                        display: block;  
                    }
                }
                @media screen and (max-width: $screen-xs-max) {
                    font-size: 12px;
                }
            }
        }
        .panel-body {
            @media screen and (max-width: $screen-xs-max) {
                    font-size: 12px;
                }
        }
    }
    
    .panel-group .panel {
        border-radius: 0;
    }
    
    // portfolio 
    .portfolio-item .portfolio-image {
        position: relative;
        overflow: hidden;
    }
    
    .portfolio-item .portfolio-image,
    .portfolio-item .portfolio-image img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .portfolio-item .portfolio-image a {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #F5F5F5;
        width: 40px;
        height: 40px;
        font-size: 18px;
        line-height: 43px;
        text-align: center;
        color: #444;
        border-radius: 50%;
        @include translate(-50%, -50%);
        &:hover {
            i {
                color: #f18052;
            }
        }
    }
    
    .portfolio-item .portfolio-image,
    .portfolio-item .portfolio-image img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .portfolio-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;
        text-align: center;
        background-color: rgba(0, 0, 0, .5);
        @include transition(opacity .4s ease-in-out);
    }
    
    .portfolio-image:hover {
        .portfolio-overlay {
            opacity: 1;
        }
    }
    
    .portfolio-full .portfolio-desc {
        padding: 15px;
    }
    
    .portfolio-desc h3 {
        margin: 0;
        padding: 0;
        font-size: 19px;
    }
    
    .portfolio-desc h3 a {
        color: #222;
    }
    
    .portfolio-desc span {
        display: block;
        margin-top: 3px;
        color: #888;
    }
    
    .portfolio-img .portfolio-overlay a {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #F5F5F5;
        width: 40px;
        height: 40px;
        margin: -28px 0 0 -44px;
        font-size: 18px;
        line-height: 40px;
        text-align: center;
        color: #444;
        border-radius: 50%;
    }
    
    .emphasis-title h1,
    .emphasis-title h2,
    .heading-block h1,
    .heading-block h2,
    .heading-block h3,
    .heading-block h4 {
        margin-bottom: 0;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #333;
    }
    
    .heading-block h2 {
        font-size: 30px;
        @media screen and (max-width: $screen-sm-max) {
            font-size: 25px;
        }
    }
    
    .heading-block {
        font-size: 22px;
        @media screen and (max-width: 600px) {
            font-size: 17px;
        }
    }
    
    .heading-block>span:not(.before-heading) {
        display: block;
        margin-top: 10px;
        font-weight: 300;
        color: #777;
    }
    
    .clients-grid,
    .testimonials-grid {
        list-style: none;
        overflow: hidden;
        padding: 0 0 40px;
    }
    
    .clients-grid li {
        float: left;
        position: relative;
        width: 33.3%;
        padding: 20px;
    }
    
    .clients-grid li:before,
    .testimonials-grid li:before {
        height: 100%;
        top: 0;
        left: -1px;
        border-left: 1px dashed #DDD;
    }
    
    .clients-grid li:after,
    .clients-grid li:before,
    .testimonials-grid li:after,
    .testimonials-grid li:before {
        content: '';
        position: absolute;
    }
    
    .clients-grid li:after,
    .testimonials-grid li:after {
        width: 100%;
        height: 0;
        top: auto;
        left: 0;
        bottom: -1px;
        border-bottom: 1px dashed #DDD;
    }
    
    .clients-grid li a {
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
    
    .clients-grid li a,
    .clients-grid li img {
        display: block;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .clients-grid li a {
        opacity: .6;
    }
    
    .clients-grid li a,
    .clients-grid li img {
        display: block;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .clients-grid li a img {
        width: 100%;
        opacity: 0.7;
        @include transition(opacity 0.4s);
        &:hover {
            opacity: 1;
        }
    }
    
    .iconlist-color {
        padding: 0;
        list-style-type: none;
        li {
            margin: 8px 0;
            font-size: 17px;
        }
        i {
            color: #f18052;
            margin-right: 5px;
        }
    }
    
    // news
    .ipost .entry-title h3,
    .ipost .entry-title h4 {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        a {
            color: #333;
        }
    }
    
    .entry-meta {
        margin: 10px 0;
        list-style: none;
    }
    
    .ipost .entry-meta {
        margin-right: -10px;
        padding: 0;
    }
    
    .ipost .entry-meta li {
        float: left;
        font-size: 13px;
        font-style: italic;
        margin-right: 10px;
    }
    
    .entry-meta li a {
        color: #999;
    }
    
    .entry-meta li:before {
        content: '/';
        display: inline-block;
        margin-right: 10px;
        opacity: .5;
    }
    
    .entry-meta li:first-child:before {
        display: none;
    }
    
    .owl-dots {
        @include clearfix;
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }
    
    .owl-dot {
        width: 8px;
        height: 8px;
        border-radius: 8px;
        border: 1px solid #f18052;
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
        @include transition(background-color 0.3s);
        &.active {
            background-color: #f18052;
        }
    }
    
    .entry-image {
        position: relative;
        margin-bottom: 30px;
        .owl-dots {
            position: absolute;
            padding-top: 0;
            top: 10px;
            right: 10px;
            width: auto;
            text-align: left;
        }
        .owl-dot {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            border: 1px solid #fff;
            float: left;
            margin-right: 5px;
            @include transition(background-color 0.3s);
            &.active {
                background-color: #fff;
            }
        }
    }
    
    .news {
        margin-bottom: 50px;
        @media screen and (max-width: $screen-sm-max) {
            margin-bottom: 20px;
        }
    }

    .widget {
        @media screen and (max-width: 600px) {
            text-align: center;
        }
    }
    
    //footer 
    #footer.dark,
    .dark #footer {
        background-color: #333;
        color: #CCC;
        border-top-color: rgba(0, 0, 0, .2);
    }
    
    #footer .footer-widgets-wrap {
        position: relative;
        padding: 30px 0;
        @media screen and (max-width: $screen-sm-max) {
            padding: 40px 0;
        }
    }
    
    // rss
    .rss {
        overflow: hidden;
        height: 38px;
        &-wrapper {
            width: 38px;
            height: 38px;
            line-height: 38px;
            background-color: #3B5998;
            border-radius: 5px;
            text-align: center;
            &:hover {
                svg {
                    @include scale(0.8);
                }
            }
            &--inverse {
                background-color: #f18052;
            }
        }
        svg {
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            color: #fff;
            fill: currentColor;
            margin: 0 auto;
            @include transition(transform 0.3s);
        }
    }
    
    .footer-widgets-wrap .col_five_sixth,
    .footer-widgets-wrap .col_four_fifth,
    .footer-widgets-wrap .col_full,
    .footer-widgets-wrap .col_half,
    .footer-widgets-wrap .col_one_fifth,
    .footer-widgets-wrap .col_one_fourth,
    .footer-widgets-wrap .col_one_sixth,
    .footer-widgets-wrap .col_one_third,
    .footer-widgets-wrap .col_three_fifth,
    .footer-widgets-wrap .col_three_fourth,
    .footer-widgets-wrap .col_two_fifth,
    .footer-widgets-wrap .col_two_third {
        margin-bottom: 0;
    }
    
    .col_five_sixth,
    .col_four_fifth,
    .col_full,
    .col_half,
    .col_one_fifth,
    .col_one_fourth,
    .col_one_sixth,
    .col_one_third,
    .col_three_fifth,
    .col_three_fourth,
    .col_two_fifth,
    .col_two_third,
    .postcontent,
    .sidebar {
        display: block;
        position: relative;
        margin-right: 4%;
        margin-bottom: 50px;
        float: left;
    }
    
    .col_two_third {
        width: 65.33%;
        @media screen and (max-width: $screen-sm-max) {
            width: 100%;
            float: none;
        }
    }
    
    .col_last {
        margin-right: 0!important;
        clear: right;
    }
    
    .col_one_third {
        width: 30.63%;
        @media screen and (max-width: $screen-sm-max) {
            width: 100%;
            float: none;
        }
    }
    
    div.alignleft,
    img.alignleft {
        float: left;
        margin: 5px 20px 13px 0;
        max-width: 100%;
    }

    hr {
        margin: 10px 0;
    }
    
    .dark .widget p {
        opacity: .8;
    }
    
    .widget p:not(.lead) {
        font-size: 14px;
    }
    
    .widget p {
        padding-bottom: 10px;
        line-height: 1.7;
        margin-bottom: 10px;
        display: inline-block;
    }
    
    .widget img {
        float: left;
        margin-top: 8px;
        padding-right: 18px;
        border-right: 1px solid #4A4A4A;
    }
    
    .footer-big-contacts span {
        display: block;
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        color: #888;
        letter-spacing: 2px;
    }
    
    .footer-big-contacts {
        color: #333;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1px;
        @media screen and (max-width: $screen-sm-max) {
            font-size: 20px;
        }
    }
    
    .dark .footer-big-contacts {
        color: rgba(255, 255, 255, 0.8);
    }
    
    .bottommargin-sm {
        margin-bottom: 30px!important;
    }
    
    .widget_links ul {
        padding: 0;
    }
    
    .widget_archive li a,
    .widget_categories li a,
    .widget_links li a,
    .widget_meta li a,
    .widget_nav_menu li a,
    .widget_pages li a,
    .widget_recent_comments li a,
    .widget_recent_entries li a,
    .widget_rss li a {
        background: url(http://canvashtml-cdn.semicolonweb.com/images/icons/widget-link.png) left top no-repeat;
        border: none!important;
        color: #444;
        font-size: 14px;
    }
    
    .dark .footer-widgets-wrap a {
        color: #CCC;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        small {
            line-height: 15px;
        }
    }
    
    .dark .widget_archive li a,
    .dark .widget_categories li a,
    .dark .widget_links li a,
    .dark .widget_meta li a,
    .dark .widget_nav_menu li a,
    .dark .widget_pages li a,
    .dark .widget_recent_comments li a,
    .dark .widget_recent_entries li a,
    .dark .widget_rss li a {
        color: #CCC;
        background: url(../assets/images/widget-link-dark.png) left top no-repeat;
        padding-left: 10px;
    }
    
    .widget_archive>ul>li:first-child,
    .widget_categories>ul>li:first-child,
    .widget_links>ul>li:first-child,
    .widget_meta>ul>li:first-child,
    .widget_nav_menu>ul>li:first-child,
    .widget_pages>ul>li:first-child,
    .widget_recent_comments>ul>li:first-child,
    .widget_recent_entries>ul>li:first-child,
    .widget_rss>ul>li:first-child {
        border-top: 0!important;
    }
    
    .widget_archive li,
    .widget_categories li,
    .widget_links li,
    .widget_meta li,
    .widget_nav_menu li,
    .widget_pages li,
    .widget_recent_comments li,
    .widget_recent_entries li,
    .widget_rss li {
        padding: 4px;
    }
    
    .widget_archive li,
    .widget_archive ul,
    .widget_categories li,
    .widget_categories ul,
    .widget_links li,
    .widget_links ul,
    .widget_meta li,
    .widget_meta ul,
    .widget_nav_menu li,
    .widget_nav_menu ul,
    .widget_pages li,
    .widget_pages ul,
    .widget_recent_comments li,
    .widget_recent_comments ul,
    .widget_recent_entries li,
    .widget_recent_entries ul,
    .widget_rss li,
    .widget_rss ul {
        list-style: none;
        margin: 0;
    }



// lightbox


.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../assets/images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../assets/images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../assets/images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../assets/images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

// authorize

.registration {
    padding: 50px 0;   
    border-top: 1px solid #eaeaea; 
}

// forms



.form-control {
    display: block;
    width: 100%;
    padding: 8px 14px;
    font-size: 15px;
    line-height: 40px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #DDD;
    border-radius: 0!important;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
    height: 40px;
    &:focus {
        border-color: #aaa;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.form-horizontal .control-label {
    text-align: left;
    margin-bottom: 0;
    padding-top: 7px;
}

.form-control-wr {
    position: relative;
}
.error-text {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 14px;
    color: #E42C3E;
    @include translate(30px, -50%);
    @include transition(opacity 0.3s, visibility 0.3s, transform 0.3s);
}

.has-error {
    .error-text {
        @include translate(0, -50%);
        opacity: 1;
        visibility: visible;
        @include transition(opacity 0.3s, visibility 0.3s);
        &:focus,
        &:hover {
            opacity: 0;
            visibility: hidden;
        }
    }
    .form-control {
        border-color: #E42C3E;
        @include placeholder(#E42C3E);
        &:focus {
            border-color: #E42C3E;
            box-shadow: none;
            & + .error-text {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

.facke-checkbox {
    cursor: pointer;
    padding-top: 7px;
    span {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #ddd;
        border-radius: 2px;
        &:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 50%;
            transform: translate(-50%, 0) rotate(45deg);
            width: 7px;
            height: 10px;
            border: 2px solid #ddd;
            border-top: none;
            border-left: none;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }
    input {
        display: none;
        &:checked {
            & + span {
                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

}